/*body.css*/

/*
 * Color Palette Link
 * http://paletton.com/#uid=43+0u0ke4eT92pyctkBjXcVoR9E
 */

body {
    padding-top: 50px;
    color: #6c6c8e;
    background-color: #121236;
}

@media (min-width: 576px) {
    #home {
        background-image: url("../../images/lake-henshaw-hor.jpg");
    }
}

#home {
    color: #ccc692;
    background-image: url("../../images/mw-joshuatrees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.half-page {
    min-height: 50vh;
}

.full-page {
    min-height: 100vh;
    width: 100%;
}

.project {
    margin-bottom: 25px;
}

.project-head {
    margin-bottom: 15px;
}

section h2:first-of-type {
    padding-top: 20px;
}