.color-1 {
    color: #675727;
}

.color-2 {
    color: #ccc692;
}

.color-3 {
    color: #a49e64;
}

.color-4 {
    color: #625825;
}

.color-text {
    color: #6c6c8e;
}

.color-lt-1 {
    color: #ccc692;
}

.color-lt-2 {
    color: #a49e64;
}