/*font.css*/
.text-code {
    font-size: 80px;
}

.text-light {
    font-size: 60px;
}

.text-norm {
    font-size: 24px;
}

.code-font {
    font-family: 'VT323', monospace;
}

.light-font {
    font-family: 'Shadows Into Light', cursive;
}

.text-box {
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 90%;
    vertical-align: center;
    /*background-color: rgba(255, 255, 255, 1.);*/
    background-color: rgba(8, 8, 31, 0.5);
}

h1 {
    color: #675727;
}

h2,
h3 {
    color: #ccc692;
}
h4,
h5,
h6 {
    color: #a49e64;
}

i {
    color: #625825;
}
#contact i {
    font-size: 32px;
}

#projects i {
    font-size: 24px;
}
