{% extends "base.html" %}
{% block body %}

<section id="home" class="container-fluid content">
    <div class="full-page">
        <div class="half-page row align-items-center text-center">

            <div class="col"></div>
            <div class="col-sm-3">
                <p class="text-code code-font">&ltCODE&gt</p>
            </div>
            <div class="col-sm-1">
                <p>and</p>
            </div>
            <div class="col-sm-3">
                <p class="text-light light-font">light</p>
            </div>
            <div class="col"></div>

        </div>

        <div class="row align-items-center text-center">
            <div class="color-3 text-norm text-box">Hello! I'm a full stack developer based in Southern California</div>
        </div>
    </div>
</section>

<section id="about" class="container content full-page">
    <h2>About Me</h2>
    {% include "aboutme.html" %}
</section>

<section id="projects" class="container content full-page">
    <h2>Experience</h2>
    {% include "projects.html" %}
</section>

<section id="contact" class="container content full-page">
    <h2>Let's Connect</h2>
    {% include "contact.html" %}
</section>
{% endblock %}