
<div class="container">

{% macro show_projects(items, id_type) %}
<div class="row">
    {% for item in items %}
    <div class="col project-box">
        <h6 class="text-center">
        {% if item.short_title %}
            {{ item.short_title }}
        {% else %}
            {{ item.title }}
        {% endif %}
        </h6>


        <div class="text-center">
            <div class="project-image-container">
                <img id="image-{{ id_type }}-{{ loop.index }}" class="rounded project-image"
                    {% if item.image %}
                        src="/static/images/{{ item.image }}"
                    {% else %}
                        src="{{ url_for('static', filename='images/codeandlight-generic-thumb.jpg') }}"
                    {% endif %}
                    data-item-type="{{ id_type }}-{{ loop.index }}">
                <div class="project-image-overlay text-center">
                    <p>Click for more info</p>
                </div>
            </div>
            {# Display Project Icons #}
            <p class="project-icons {% if item.icons %}{% for icon in item.icons %}tech-{{ icon }} {% endfor %}">
                    {% for icon in item.icons | sort %}
                        &nbsp; <i class="{{ icon_shortcuts[icon][1] }} fa-{{ icon_shortcuts[icon][0] }}"></i> &nbsp;
                    {% endfor %}
                {% endif %}
            </p>

            <div id="modal-{{ id_type }}-{{ loop.index }}" class="project-modal project-modal-hide">
                <div class="project-modal-content">
                    <div class="project-modal-header">
                        <h5>{{ item.title }}</h5>
                        <div class="row">
                            {% if item.code %}
                                <div class="col float-left">
                                    <a href="{{ item.code }}" target="_blank">
                                    <i class="{{ icon_shortcuts['github'][1] }} fa-{{ icon_shortcuts['github'][0] }}"></i>
                                    View Code
                                    </a>
                                </div>
                            {% endif %}
                            {% if item.url %}
                                <div class="col float-right">
                                    <a href="{{ item.url }}" target="_blank">
                                    <i class="{{ icon_shortcuts['browser'][1] }} fa-{{ icon_shortcuts['browser'][0] }}"></i>
                                    View Site
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <p>{{ item.desc }}</p>
                    </div>
                <button type="button" class="project-modal-close">Close</button>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
</div>
{% endmacro %}

{% if projects %}
    <h4>Projects</h4>
    {{ show_projects(projects, "project") }}
{% endif %}

{% if websites %}
    <h4>Websites</h4>
    {{ show_projects(websites, "website") }}
{% endif %}

</div>


{#
    OLD CODE
    <div class="project-head">
        <h4>{{ project.title }}</h4>

        {% if project.code %}
            <a href="{{ project.code }}" target="_blank">
                <i class="fab fa-github-square"></i>&nbsp;View Code
            </a>
        {% endif %}
        {% if project.url %}
            {% if project.code %}
                &nbsp; | &nbsp;
            {% endif %}
            <a href="{{ project.url }}" target="_blank">
                <i class="fas fa-file-alt"></i>&nbsp;View Webpage
            </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="project-image" src="/static/images/{{ project.image }}"
        alt="{{ project.title }}-image">
            <img class="round" src="/static/images/{{ project.image }}">

        </div>
        <div class="col-md-8 text-box">
            {% if project.icons %}
                <div class="row justify-content-center">
                        {% for icon in project.icons | sort %}
                            <i class="col fab fa-{{ icon }}"></i>
                        {% endfor %}
                </div>
            {% endif %}
            <p class="text-justify">{{ project.desc }}</p>
        </div>
    </div>
</div>
{% endfor %}

#}