<h3>My Projects</h3>
    {% for project in projects %}
    <div class="project">
        <h3>{{ project.title }}</h3>

        <a href="{{ project.code }}" target="_blank">Link to Code</a>
        {% if project.url %}
            &nbsp|&nbsp<a href="{{ project.url }}" target="_blank">Link to Site</a>
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <img class="project-image" src="/static/images/{{ project.image }}"
            alt="{{ project.title }}-image">
            </div>
            <div class="col-md-8">
                <p>{{ project.desc }}</p>
                {% if project.icons %}
                    <hr>
                    <div class="row justify-content-center">
                            {% for icon in project.icons | sort %}
                                <i class="col fab fa-{{ icon }}"></i>
                            {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
