{% extends "base.html" %}
{% block body %}

<div id="index-page" class="container-fluid">

        <!-- <div class="row"> -->
            <p class="text-center">Site coming soon.</p>
        <!-- </div> -->
        <div class="full-page-height row justify-content-center">
            <div class="col-md-4 text-center align-self-center"><h1 class="monospace-font">&ltCODE&gt</h1></div>
            <div class="col text-center align-self-center"><h3>and</h3></div>
            <div class="col-md-4 text-center align-self-center"><h1 class="cursive-font">light</h1></div>
        </div>
</div>

{% endblock %}