/*font.css*/
.text-code {
    font-size: 80px;
}

.text-light {
    font-size: 60px;
}

.text-norm {
    font-size: 24px;
}

.monospace-font {
    /*font-family: 'Share Tech Mono', monospace;*/
    font-family: 'VT323', monospace;
}

.cursive-font {
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Shadows Into Light', cursive;
}

.text-box {
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    vertical-align: center;
    background-color: rgba(255, 255, 255, 0.15);
}

